.header-image {
    height: 3em;
    /* width: 100%; */
}

.margin-bottom {
    margin-bottom: 0px;
}

.padding-right {
    padding-right: 0px;
}

.padding-left {
    padding-left: 0px;
}

.padding-edit {
    padding-top: 0px;
    padding-bottom: 0px;
}

.height-edit {
    height: 450px;
}