<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/style.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <!-- row for header -->
        <div class="row py-3 px-3 border">
            <div class="col-5">
                <img src="{{ url_for('static', path='/images/v2_3.png')}}" alt="logo" class="header-image img-fluid">
            </div>
            <div class="col-2 d-flex justify-content-center">
                <div class="row">
                    <div class="col-12">
                        <h1>
                            AIShip
                        </h1>
                    </div>
                    <div class="col-12">
                        <p>
                            <small>
                                AI-based ship design application
                            </small>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-5 d-flex justify-content-end">
                <img src="{{ url_for('static', path='/images/v13_15.png')}}" alt="logo" class="header-image img-fluid">
            </div>
        </div>
        <!-- end header -->
        <!-- row for navbar -->
        <div class="row px-3 border">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Application</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">People</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact us</a>
                </li>
            </ul>
        </div>
        <!-- end navbar -->
        <!-- row for page title -->
        <div class="row px-3 py-3 border">
            <div class="col-12 d-flex justify-content-center">
                <h1>Ship Power Prediction</h1>
            </div>
        </div>
        <!-- end page title -->
        <div class="row" style="height:100vh">
            <div class="col-6 border">
                <div class="row">
                    <form action="/predict/" enctype="application/x-www-form-urlencoded" method="post">

                        <!-- range slider 1 -->
                        <div class="col-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="lwlRange" class="form-label">LWL</label>
                                    </div>
                                    <div class="col-9">
                                        <input type="range" class="form-range" min="0" max="5" step="0.5" id="lwlRange"
                                            name="LWL" value="0" onchange="updateTextInput(this.value,textInputLWL);">
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control form-control-sm" id="textInputLWL" value="0"
                                            onchange="updateRangeInput(this.value,lwlRange);">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- range slider 2 -->
                        <div class="col-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="bRange" class="form-label">B</label>
                                    </div>
                                    <div class="col-9">
                                        <input type="range" class="form-range" min="0" max="5" step="0.5" id="bRange"
                                            name="B" value="0" onchange="updateTextInput(this.value,textInputB)">
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control form-control-sm" id="textInputB" value="0"
                                            onchange="updateTextInput2(this.value)">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- range slider 3 -->
                        <div class="col-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="tRange" class="form-label">T</label>
                                    </div>
                                    <div class="col-9">
                                        <input type="range" class="form-range" min="0" max="5" step="0.5" id="tRange"
                                            name="T">
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control form-control-sm" id="textInput" value="0"
                                            onchange="updateTextInput2(this.value)">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- range slider 4 -->
                        <div class="col-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="lbRange" class="form-label">L/B</label>
                                    </div>
                                    <div class="col-9">
                                        <input type="range" class="form-range" min="0" max="5" step="0.5" id="lbRange"
                                            name="LB">
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control form-control-sm" id="textInput" value="0"
                                            onchange="updateTextInput2(this.value)">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- range slider 5 -->
                        <div class="col-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="btRange" class="form-label">B/T</label>
                                    </div>
                                    <div class="col-9">
                                        <input type="range" class="form-range" min="0" max="5" step="0.5" id="btRange"
                                            name="BT">
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control form-control-sm" id="textInput" value="0"
                                            onchange="updateTextInput2(this.value)">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- range slider 6 -->
                        <div class="col-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="dispRange" class="form-label">Disp</label>
                                    </div>
                                    <div class="col-9">
                                        <input type="range" class="form-range" min="0" max="5" step="0.5" id="dispRange"
                                            name="Disp">
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control form-control-sm" id="textInput" value="0"
                                            onchange="updateTextInput2(this.value)">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- range slider 7 -->
                        <div class="col-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="cbRange" class="form-label">CB</label>
                                    </div>
                                    <div class="col-9">
                                        <input type="range" class="form-range" min="0" max="5" step="0.5" id="cbRange" name="CB">
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control form-control-sm" id="textInput" value="0" onchange="updateTextInput2(this.value)">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- range slider 8 -->
                        <div class="col-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="vsRange" class="form-label">VS</label>
                                    </div>
                                    <div class="col-9">
                                        <input type="range" class="form-range" min="0" max="5" step="0.5" id="vsRange" name="VS">
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control form-control-sm" id="textInput" value="0" onchange="updateTextInput2(this.value)">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- range slider 9 -->
                        <div class="col-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="fnRange" class="form-label">Fn</label>
                                    </div>
                                    <div class="col-9">
                                        <input type="range" class="form-range" min="0" max="5" step="0.5" id="fnRange" name="FN">
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control form-control-sm" id="textInput" value="0" onchange="updateTextInput2(this.value)">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary btn-sm" type="submit">submit</button>
                        </div>

                        <!-- <input type="range" id="textInput2" name="rangeInput" min="0" max="100"
                            onchange="updateTextInput(this.value);">
                        <input type="text" id="textInput" value="" onchange="updateTextInput2(this.value)"> -->
                    </form>
                </div>
            </div>
            <div class="col-6 border">
                huhuh
            </div>
        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script>
        function updateTextInput(val,itemId) {
            itemId.value = val;
        }

        function updateRangeInput(val,itemId) {
            itemId.value = val;
        }
    </script>
</body>

</html>