<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <!-- row for header -->
        <div class="row py-3 px-3 border">
            <div class="col-5">
                <img src="../static/images/v2_3.png" alt="logo" class="header-image img-fluid">
            </div>
            <div class="col-2 d-flex justify-content-center">
                <div class="row">
                    <div class="col-12">
                        <h1>
                            AIShip
                        </h1>
                    </div>
                    <div class="col-12">
                        <p>
                            <small>
                                AI-based ship design application
                            </small>
                        </p>

                    </div>
                </div>


            </div>
            <div class="col-5 d-flex justify-content-end">
                <img src="../static/images/v13_15.png" alt="logo" class="header-image img-fluid">
            </div>
        </div>
        <!-- end header -->
        <!-- row for navbar -->
        <div class="row px-3 border">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Application</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">People</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact us</a>
                </li>
            </ul>
        </div>
        <!-- end navbar -->
        <!-- row for page title -->
        <div class="row px-3 py-3 border">
            <div class="col-12 d-flex justify-content-center">
                <h1>Ship Power Prediction</h1>
            </div>
        </div>
        <!-- end page title -->
        <div class="row" style="height:100vh">
            <div class="col-6 px-5 py-5 border">
                <div class="row">
                    <form>
                        <!-- range slider 1 -->
                        <div class="col-12">
                            <label for="customRange3" class="form-label">LWL</label>
                            <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                        </div>
                        <!-- range slider 2 -->
                        <div class="col-12">
                            <label for="customRange3" class="form-label">B</label>
                            <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                        </div>
                        <!-- range slider 3 -->
                        <div class="col-12">
                            <label for="customRange3" class="form-label">T</label>
                            <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                        </div>
                        <div class="col-12">
                            <label for="customRange3" class="form-label">L/B</label>
                            <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                        </div>
                        <div class="col-12">
                            <label for="customRange3" class="form-label">B/T</label>
                            <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                        </div>
                        <div class="col-12">
                            <label for="customRange3" class="form-label">Disp</label>
                            <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                        </div>
                        <div class="col-12">
                            <label for="customRange3" class="form-label">CB</label>
                            <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                        </div>
                        <div class="col-12">
                            <label for="customRange3" class="form-label">VS</label>
                            <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                        </div>
                        <div class="col-12">
                            <label for="customRange3" class="form-label">Fn</label>
                            <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <button type="button" class="btn btn-primary btn-sm">Small button</button>
                        </div>
                        <input type="range" id="textInput2" name="rangeInput" min="0" max="100"
                            onchange="updateTextInput(this.value);">
                        <input type="text" id="textInput" value="" onchange="updateTextInput2(this.value)">
                    </form>
                </div>
            </div>
            <div class="col-6 border">
                huhuh
            </div>
        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script>
        function updateTextInput(val) {
            document.getElementById('textInput').value = val;
        }
        function updateTextInput2(val) {
            textInput2.value = val;
        }
    </script>
</body>

</html>